@layer utilities {
  footer {
    @apply flex items-center justify-between mt-auto w-full;
  }

  footer .copyright-section {
    @apply flex items-center gap-sm;
  }

  footer .copyright-section p {
    @apply text-sm md:text-md;
  }

  footer .footer-links-section {
    @apply flex h-fit gap-md;
  }

  .primary-link,
  .secondary-link {
    @apply text-sm md:text-md underline underline-offset-2;
  }

  .secondary-link {
    @apply text-dark-color/85 dark:text-light-color/85;
  }

  .primary-link {
    @apply text-main;
  }

  .full-logo-svg {
    @apply max-w-[90%] sm:max-w-[60%];
  }

  .top-section {
    @apply flex flex-col gap-xl items-center text-center w-full;
  }

  .top-section div {
    @apply flex flex-col gap-2;
  }

  .top-section div h2 {
    @apply text-xl font-bold;
  }

  .border-separator {
    @apply w-full h-px bg-main;
  }

  .label {
    @apply text-md text-dark-color/90 dark:text-light-color/90;
  }

  input {
    @apply bg-transparent border-2 border-main w-full h-fit rounded-xl px-sm py-xs;
  }
  input:focus {
    @apply bg-main/10;
  }

  form {
    @apply flex flex-col gap-sm items-center w-full;
  }

  form div {
    @apply flex flex-col gap-xs w-full;
  }

  form button {
    @apply mt-md;
  }

  button,
  .button {
    @apply font-semibold text-light-color text-md bg-transparent border-2 border-main px-sm py-xs rounded-xl w-fit cursor-pointer;
  }

  .redirection {
    @apply flex flex-row gap-xs justify-start items-center w-full;
  }

  .error-msg {
    @apply text-md text-red-500 font-normal font-jost;
  }

  #loading-screen {
    @apply flex items-center justify-center absolute top-0 right-0 z-50 w-screen h-screen bg-dark-color/75;
  }

  #loading-screen svg {
    @apply fill-main w-22 h-22 animate-spin;
  }

  @media (hover: hover) and (pointer: fine) {
    button:hover,
    .button:hover {
      @apply bg-main;
    }
  }

  button:active,
  .button:active {
    @apply scale-95;
  }
}
