@import "tailwindcss";
@import "./components/components.css";

@theme {
  --font-jost: "Jost", sans-serif;

  --color-dark-color: #0f1a20;
  --color-light-color: #f9f7f3;
  --color-main: #05a8aa;

  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --text-xs: 8px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
}

* {
  @apply box-border outline-none transition-all duration-200;
}
*:focus {
  outline: none;
}

html,
body {
  @apply text-md font-jost bg-light-color dark:bg-dark-color text-dark-color dark:text-light-color min-h-screen min-w-screen;
}

::selection,
::-moz-selection {
  @apply bg-main dark:text-dark-color outline-none;
}
